/*
 * Base structure
 */


body {
	margin: 0;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%; /* font-size 1em = 10px */
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1,
.h1 {
	font-size: 3.6em;
}
h2,
.h2 {
	font-size: 2.8em;
}
h3,
.h3 {
	font-size: 2.4em;
}
h4,
.h4 {
	font-size: 1.6em;
}
h5,
.h5 {
	font-size: 1.4em;
}
/*h6,
.h6 {
	font-size: 12px;
}*/
p {
	margin: 0 0 10px;
	font-size: 1.2em; /* 1.2em = 12px */
}
.lead {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.4;
}

/* Padding for spacing */
.container {
	padding-right: 0.8em;
	padding-left: 0.8em;
	margin-right: auto;
	margin-left: auto;
	border-color: #aa00ff;
}

/*
 * Header
 */


/*
 * nav
 */


.main-nav {
	display: flex;
	justify-content: space-between;
	display: -webkit-flexbox;
}

ul{
	padding-left: 0;
}

.main-nav li{
	list-style: none;
}

.main-nav a {
	/*margin: 10px;*/
	/*background: #60B99A;*/
	display: block;
	padding: 0.8em 0;
	text-decoration: none;

}
.main-nav .logo {
	color: #f06292;
}

/*
 * top main img
 */


.intro{
	text-align: center;
}

.intro img{
	height: auto;
	width: 100%;

}

section{
	margin-bottom: 24px;
}


article{
	position: relative;
}

article .img-content{
	position: absolute;
	top: 0.8em;
	left: 0.8em;
}

article .text-content{
	padding-left: 13em;
	padding: 0.8em 0 0.3em 13em;
}

article .text-content h2{
	margin: 0px;
}

.itemdetail img{
	width: 100%;
}


.shop h2{

}

.shopinfo {
	display: flex;
	display: -webkit-flexbox;
}

.shopinfo dd{
	margin: 0;
}


.form-item {
	display: flex;
	display: -webkit-flexbox;
	margin: 8px 0;
}




/*
 * Footer
 */
footer{
	text-align: center;
}












/*paddingやborder分を気にせずwidth/heightの数値を指定する*/
.test {
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/*長い文字列でも途中で改行させる*/
.test{
	word-break: break-all;
}


/*paddingやborderを幅に含める*/
#box01 {
	width:250px;
	height:250px;
	padding:10px;
	background-color:#65ab31;
	border:5px solid #618e34;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}


/*フォーム要素のデフォルトスタイルをリセット*/
*{
	-webkit-appearance: none;
}


/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #999999;
}
