body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}


h1,
.h1 {
	font-size: 24px;
}
h2,
.h2 {
	font-size: 20px;
}
h3,
.h3 {
	font-size: 16px;
}
h4,
.h4 {
	font-size: 14px;
}
h5,
.h5 {
	font-size: 12px;
}
h6,
.h6 {
	font-size: 10px;
}
p {
	margin: 0 0 10px;
}

hr.dotline {
	border: 0;
	border-bottom: 1px dashed #ffffff;
	background: #dddddd;

}

ul {
	list-style-type:none;
}

.btn-lg {
	padding: 10px 80px;
}

.source{
	color: #bbbbbb;
}